#title {
  font-size: 36px;
  text-align: center;
  padding: 20px;
}

.content {
  display: flex;
}

canvas {
  background-image: url('court_small.png');
  background-color: rgba(247, 188, 136, 0.3);
  background-repeat: no-repeat;
  background-position: bottom;
}

.menu {
  padding: 20px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-menu {
  display: none;
}

#player-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#player-list {
  height: 150px;
  overflow-y: auto;
}

.player-name {
  text-align: center;
  font-size: 16px;
}

.player-name:hover {
  cursor: pointer;
  background: #ccc;
}

.instructions {
  text-align: center;
  font-size: 18px;
}

.show {
  display: flex;
  flex-direction: column;
  align-items: center;
}
